-macro item_content(item)
  -if item.thumbnail
    .item-thumbnail
      = item.thumbnail|raw
  %h1
    = item.title|raw
  %div
    = item.content|raw
!!! 5
%html
  %head
    %title
      = title
    %link{ :rel=>'stylesheet', :id=>'twentytwelve-style-css', :href=>'http://lsecities.net/wp-content/themes/lsecities-2012/style.css?ver=3.5.1', :type=>'text/css', :media=>'all'}
  %body#newsletter-2013
    .page-header
      %span.logo
        %a(href = 'http://lsecities.net/')
          %img(src='http://lsecities.net/wp-content/themes/lsecities-2012/images/logo_lsecities_fullred.png' alt='LSE Cities')
      %h1
        = title
      - for section in sections if section.show_in_toc
        .toc-section
          %div
            %a{:href => "", :target => "_blank"}
              = section.thumbnail|raw
          %div
            %h1.headerTitle
              %a{:href => "", :target => "_blank"}
                %span
                  = section.title
            %ul
              - for item in section.featured_items
                %li
                  %a{ :href => "#item" ~ item.ID }
                    = item.title
    .page-body
      - for section in sections
        - if section.is_news_section
          .newsletter-section.news-section
        - else
          .newsletter-section
            %h1.title-container
              %span
                = section.title
            = section.content
            -for item in section.items
              -if item.layout == 'wide'
                %span.section-item.wide{ :id => 'item' ~ item.ID}
                  = _self.item_content(item)
              -else
                .section-item.narrow{ :id => 'item' ~ item.ID}
                  = _self.item_content(item)
